<section id="about-me">
  <div class="container">
    <h1 style="display: none">About Me</h1>
    <div class="about-me-container">
      <div class="about-me-first-section-container">
        <div class="about-first-section-text-container">
          <p class="about-first-section-text">
            I work with people all over the world to create impressive and
            <span class="about-first-section-text-sekond-color"
              >functional</span
            >
            <span class="about-first-section-text-third-color">websites</span>
            that reflect each client's unique personality.
          </p>
        </div>
        <img
          class="about-first-section-image"
          srcset="
            ./img/desktop/image.webp     680w,
            ./img/desktop/image@2x.webp 1360w,
            ./img/tablet/image.webp      704w,
            ./img/tablet/image@2x.webp  1408w,
            ./img/image.webp             343w,
            ./img/image@2x.webp          686w
          "
          sizes="(min-width: 1440px) 680px, (min-width: 768px) 704px, (max-width: 767px) 343px"
          src="./img/image.webp"
          alt="men with laptop"
        />
      </div>

      <div class="about-accordion-section">
        <ul class="accordion-container about-accordion-container">
          <li class="ac accardeon-item">
            <div class="ac-trigger about-ac-trigger">
              <h2 class="accardeon-heading">About me</h2>
              <div class="about-button-icon-cover">
                <svg class="two-about-button-icon two-about-button-icon-rotate">
                  <use href="./img/sprite.svg#icon-arrow-bottom"></use>
                </svg>
              </div>
            </div>
            <div class="ac-panel accardeon-gap">
              <p
                class="ac-text about-ac-text about-ac-text-first about-text-first-el"
              >
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages ​​and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </p>
              <p class="ac-text about-ac-text about-ac-text-first">
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work. I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </p>
            </div>
          </li>

          <li class="ac accardeon-item">
            <div class="ac-trigger about-ac-trigger">
              <h2 class="accardeon-heading">ROLE</h2>
              <div class="about-button-icon-cover">
                <svg class="two-about-button-icon">
                  <use href="./img/sprite.svg#icon-arrow-bottom"></use>
                </svg>
              </div>
            </div>
            <div class="ac-panel accardeon-gap-second">
              <p class="ac-text about-ac-text about-text-first-el">
                Frontend development
              </p>
              <p class="ac-text about-ac-text">HeadlessCMS,Wordpress</p>
              <p class="ac-text about-ac-text">Blender(enjoy)</p>
            </div>
          </li>

          <li class="ac accardeon-item">
            <div class="ac-trigger about-ac-trigger">
              <h2 class="accardeon-heading">EDUCATION</h2>
              <div class="about-button-icon-cover">
                <svg class="two-about-button-icon">
                  <use href="./img/sprite.svg#icon-arrow-bottom"></use>
                </svg>
              </div>
            </div>
            <div class="ac-panel accardeon-gap-third">
              <p
                class="ac-text about-ac-text about-ac-text-third about-text-first-el"
              >
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
              <p class="ac-text about-ac-text about-ac-text-third">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
              <p class="ac-text about-ac-text about-ac-text-third">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="about-me-swiper-container">
        <div class="about-me-slider swiper-container">
          <ul class="about-me-slider-container swiper-wrapper">
            <li class="about-me-slider-item swiper-slide">HTML/CSS</li>
            <li class="about-me-slider-item swiper-slide">JavaScript</li>
            <li class="about-me-slider-item swiper-slide">React</li>
            <li class="about-me-slider-item swiper-slide">Node. js</li>
            <li class="about-me-slider-item swiper-slide">React Native</li>
            <li class="about-me-slider-item swiper-slide">Soft skills</li>
            <li class="about-me-slider-item swiper-slide">HTML/CSS</li>
            <li class="about-me-slider-item swiper-slide">JavaScript</li>
            <li class="about-me-slider-item swiper-slide">React</li>
            <li class="about-me-slider-item swiper-slide">Node. js</li>
            <li class="about-me-slider-item swiper-slide">React Native</li>
            <li class="about-me-slider-item swiper-slide">Soft skills</li>
          </ul>
        </div>

        <button class="next-about-me-btn" aria-label="next skill">
          <svg class="about-me-next-icon-btn" width="28" height="28">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
