<section class="about-me-container">
    <div class="container">
        <section>
            <div class="about-firsd-section-text-container"><p>I work with people all over the world to create impressive and <span class="about-firsd-section-text-sekond-color">functional</span> <span class="about-firsd-section-text-third-color">websites</span> that reflect each client's unique personality.</p></div>
            <img class="about-first-section-image" src="" alt="">
        </section>

        <section>
            <div>
                <div class="about-accordeon-btn">
                    <h2></h2>
                    <img src="" alt="">
                    <div class="about-accordeon-text-container">
                        <div class="p"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="about-accordeon-btn">
                    <h2></h2>
                    <img src="" alt="">
                    <div class="about-accordeon-text-container">
                        <div class="p"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="about-accordeon-btn">
                    <h2></h2>
                    <img src="" alt="">
                    <div class="about-accordeon-text-container">
                        <div class="p"></div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Node. js</li>
                <li>React Native</li>
                <li>Soft skills</li>
            </ul>
        </section>



    </div>
</section>