<section class="benefits" id="benefits">
  <div class="benefits-container container">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <div class="benefits-additional-container">
      <ul class="benefits-list">
        <li class="benefits-item-container">
          <div class="benefits-icon-container">
            <svg width="24" height="24">
              <use
                class="benefits-icons"
                href="./img/sprite.svg#icon-user"
              ></use>
            </svg>
          </div>
          <div class="benefits-description-container">
            <h3 class="benefits-name">Expertise</h3>
            <p class="benefits-description">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </div>
        </li>
        <li class="benefits-item-container">
          <div class="benefits-icon-container">
            <svg width="24" height="24">
              <use
                class="benefits-icons"
                href="./img/sprite.svg#icon-message-chat"
              ></use>
            </svg>
          </div>
          <div class="benefits-description-container">
            <h3 class="benefits-name">Communication</h3>
            <p class="benefits-description">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </div>
        </li>
        <li class="benefits-item-container">
          <div class="benefits-icon-container">
            <svg width="24" height="24">
              <use
                class="benefits-icons"
                href="./img/sprite.svg#icon-brush"
              ></use>
            </svg>
          </div>
          <div class="benefits-description-container">
            <h3 class="benefits-name">Art</h3>
            <p class="benefits-description">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </div>
        </li>
        <li class="benefits-item-container">
          <div class="benefits-icon-container">
            <svg width="24" height="24">
              <use
                class="benefits-icons"
                href="./img/sprite.svg#icon-hourglass"
              ></use>
            </svg>
          </div>
          <div class="benefits-description-container">
            <h3 class="benefits-name">Urgent execution</h3>
            <p class="benefits-description">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </div>
        </li>
      </ul>
      <a class="benefits-btn" href="#footer">Order the project</a>
    </div>
  </div>
</section>
