<section class="covers">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="list-covers">
          <li class="list-element-covers animations">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-8.webp    1x,
                    ./img/prjs/rectangle-8@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-8.webp"
                  alt="Website - transforming your body"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-5.webp    1x,
                    ./img/prjs/rectangle-5@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-5.webp"
                  alt="Website - Mimino"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-8.webp    1x,
                    ./img/prjs/rectangle-8@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-8.webp"
                  alt="Website - transforming your body"
                />
              </picture>
            </a>
          </li>

          <li class="list-element-covers animations relet">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-9.webp    1x,
                    ./img/prjs/rectangle-9@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-9.webp"
                  alt="Website - Manage you finances"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/goit-markup-hw-06/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-1.webp    1x,
                    ./img/prjs/rectangle-1@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-1.webp"
                  alt="Website - Turn your business"
                />
              </picture>
            </a>
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-6.webp    1x,
                    ./img/prjs/rectangle-6@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-6.webp"
                  alt="Website - Ukrainian-traditional-clothes"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://artemsv07.github.io/goit-markup-hw-06/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-9.webp    1x,
                    ./img/prjs/rectangle-9@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-9.webp"
                  alt="Website - Manage you finances"
                />
              </picture>
            </a>
          </li>

          <li class="list-element-covers animations">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-7.webp    1x,
                    ./img/prjs/rectangle-7@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-7.webp"
                  alt="Website - Organic vegetables"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-2.webp    1x,
                    ./img/prjs/rectangle-2@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-2.webp"
                  alt="Website - Gym"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-3.webp    1x,
                    ./img/prjs/rectangle-3@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-3.webp"
                  alt="Website - Fresh harvest box"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-7.webp    1x,
                    ./img/prjs/rectangle-7@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-7.webp"
                  alt="Website - Organic vegetables"
                />
              </picture>
            </a>
          </li>

          <li class="list-element-covers animations relet">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-10.webp    1x,
                    ./img/prjs/rectangle-10@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-10.webp"
                  alt="Website - Learning English"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-4.webp    1x,
                    ./img/prjs/rectangle-4@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-4.webp"
                  alt="Website - Inspired by forms"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-10.webp    1x,
                    ./img/prjs/rectangle-10@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-10.webp"
                  alt="Website - Learning English"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt display-adapt-end"
              href="https://artemsv07.github.io/goit-markup-hw-06/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/rectangle-4.webp    1x,
                    ./img/prjs/rectangle-4@2x.webp 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/rectangle-4.webp"
                  alt="Website - Inspired by forms"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
