<section class="covers" aria-label="covers section">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="list-covers" aria-label="projects list">
          <li class="list-element-covers animations" aria-label="project item">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-10.jpg    1x,
                    ./img/prjs/Desktop/rectangle-10@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-10.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-10@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-10.jpg"
                  alt="Website - transforming your body"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-7.jpg    1x,
                    ./img/prjs/Desktop/rectangle-7@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-7.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-7@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-7.jpg"
                  alt="Website - Mimino"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-10.jpg    1x,
                    ./img/prjs/Desktop/rectangle-10@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-10.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-10@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-10.jpg"
                  alt="Website - transforming your body"
                />
              </picture>
            </a>
          </li>

          <li class="list-element-covers animations relet" aria-label="project item">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-11.jpg    1x,
                    ./img/prjs/Desktop/rectangle-11@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-11.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-11@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-11.jpg"
                  alt="Website - Manage you finances"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/goit-markup-hw-06/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/first-screen-1.jpg    1x,
                    ./img/prjs/Desktop/first-screen-1@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-first-screen-1.jpg    1x,
                    ./img/prjs/Mobile/mobile-first-screen-1@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-first-screen-1.jpg"
                  alt="Website - Turn your business"
                />
              </picture>
            </a>
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-8.jpg    1x,
                    ./img/prjs/Desktop/rectangle-8@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-8.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-8@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-8.jpg"
                  alt="Website - Ukrainian-traditional-clothes"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://artemsv07.github.io/goit-markup-hw-06/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-11.jpg    1x,
                    ./img/prjs/Desktop/rectangle-11@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-11.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-11@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-11.jpg"
                  alt="Website - Manage you finances"
                />
              </picture>
            </a>
          </li>

          <li class="list-element-covers animations" aria-label="project item">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-9.jpg    1x,
                    ./img/prjs/Desktop/rectangle-9@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-9.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-9@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-9.jpg"
                  alt="Website - Organic vegetables"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-4.jpg    1x,
                    ./img/prjs/Desktop/rectangle-4@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-4.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-4@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-4.jpg"
                  alt="Website - Gym"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-5.jpg    1x,
                    ./img/prjs/Desktop/rectangle-5@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-5.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-5@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-5.jpg"
                  alt="Website - Fresh harvest box"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-9.jpg    1x,
                    ./img/prjs/Desktop/rectangle-9@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-9.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-9@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-9.jpg"
                  alt="Website - Organic vegetables"
                />
              </picture>
            </a>
          </li>

          <li class="list-element-covers animations relet" aria-label="project item">
            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-12.jpg    1x,
                    ./img/prjs/Desktop/rectangle-12@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-12.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-12@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-12.jpg"
                  alt="Website - Learning English"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/Justice-League-home/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-6.jpg    1x,
                    ./img/prjs/Desktop/rectangle-6@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-6.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-6@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-6.jpg"
                  alt="Website - Inspired by forms"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://artemsv07.github.io/ukrainian-traditional/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-12.jpg    1x,
                    ./img/prjs/Desktop/rectangle-12@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-12.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-12@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-12.jpg"
                  alt="Website - Learning English"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt display-adapt-end"
              href="https://artemsv07.github.io/goit-markup-hw-06/"
            >
              <picture>
                <source
                  srcset="
                    ./img/prjs/Desktop/rectangle-6.jpg    1x,
                    ./img/prjs/Desktop/rectangle-6@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/prjs/Mobile/mobile-rectangle-6.jpg    1x,
                    ./img/prjs/Mobile/mobile-rectangle-6@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/prjs/Mobile/mobile-rectangle-6.jpg"
                  alt="Website - Inspired by forms"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
