<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list accordion-container">
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header ac-trigger">
          <span class="faq-item-title-text">
            What programming languages ​​are most often used in your
            project?</span
          >
          <button class="faq-btn" type="button" aria-label="show more">
            <svg class="faq-btn-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-item-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header ac-trigger">
          <span class="faq-item-title-text">
            What are the deadlines for the project?</span
          >
          <button class="faq-btn" type="button" aria-label="show more">
            <svg class="faq-btn-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-item-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header ac-trigger">
          <span class="faq-item-title-text">
            What payment methods do you accept?</span
          >
          <button class="faq-btn" type="button" aria-label="show more">
            <svg class="faq-btn-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-item-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header ac-trigger">
          <span class="faq-item-title-text">How can I contact you?</span>
          <button class="faq-btn" type="button" aria-label="show more">
            <svg class="faq-btn-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-item-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header ac-trigger">
          <span class="faq-item-title-text"
            >Do you provide advice or support?</span
          ><button class="faq-btn" type="button" aria-label="show more">
            <svg class="faq-btn-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-item-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header ac-trigger">
          <span class="faq-item-title-text">
            What does the process of developing a software product look like
            from idea to implementation?</span
          >
          <button class="faq-btn" type="button" aria-label="show more">
            <svg class="faq-btn-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-item-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
