<section class="faq-section" id="faq">
  <div class="accord-marg container">
    <h4 class="accord-header">FAQ</h4>
    <ul class="accordion-container">
      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="btn-title-1">
              What programming languages ​​are most often used in your project?
            </h3>
            <div class="div-icon">
              <svg class="button-icon" width="20" height="20">
                <use href="../img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="btn-title-1">What are the deadlines for the project?</h3>

            <div class="div-icon">
              <svg class="button-icon" width="20" height="20">
                <use href="../img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="btn-title-1">What payment methods do you accept?</h3>

            <div class="div-icon">
              <svg class="button-icon" width="20" height="20">
                <use href="../img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="btn-title-1">How can I contact you?</h3>

            <div class="div-icon">
              <svg class="button-icon" width="20" height="20">
                <use href="../img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="btn-title-1">Do you provide advice or support?</h3>
            <div class="div-icon">
              <svg class="button-icon" width="20" height="20">
                <use href="../img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <h3 class="btn-title-1">
              What does the process of developing a software product look like
              from idea to implementation?
            </h3>

            <div class="div-icon">
              <svg class="button-icon" width="20" height="20">
                <use href="../img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

