<footer class="work" id="footer">
  <div class="container">
    <h2 class="work-title">
      <picture class="form-logo">
        <source
          srcset="./img/main-logo.webp, ./img/main-logo@2x.webp 2x"
          media="(min-width: 768px)"
          width="77"
          height="77"
        />
        <source
          srcset="./img/logo.webp, ./img/logo@2x.webp 2x"
          width="44"
          height="44"
        />
        <img src="./img/logo.webp" alt="MDN" width="44" height="44" />
      </picture>
      Let&#8216;s <span class="work-title-orange">work</span> together
    </h2>

    <form class="work-form">
      <div class="email-input-wrapper">
        <input
          type="email"
          name="email"
          class="work-form-input email"
          autocomplete="off"
          placeholder="clients@gmail.com"
          novalidate
          required
          pattern="([A-z0-9_\.\-]{1,})@([A-z0-9_\.\-]{1,})\.([A-z]{2,8})"
        />
        <span class="succes-text visually-hidden">Succes!</span>
        <span class="invalid-text visually-hidden"
          >Invalid email, try again</span
        >
      </div>
      <input
        type="text"
        name="comment"
        class="work-form-input comment"
        placeholder="comments"
        autocomplete="off"
        required
      />
      <button class="work-send-btn" type="submit" aria-label="send mail">Send</button>
    </form>

    <address class="work-contacts">
      <a class="contact-link" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="contact-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </address>
  </div>

  <div class="backdrop visually-hidden">
    <div class="modal">
      <button class="modal-close-btn" type="button" aria-label="close thanx window">
        <svg class="close-icon" width="22" height="22">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h3 class="modal-title"></h3>
      <p class="modal-text"></p>
    </div>
  </div>
</footer>
