<section class="hero-section">
  <div class="hero-container container">
    <h1 class="hero-title">
      Hello. <br />
      I’m fullstack developer Lloyd Jefferson.
    </h1>

    <div class="hero-position-nav">
      <button class="button-hero-anime" type="button">
        <span class="hero-button hero-button-def">R</span
        ><span class="hero-button">G</span><span class="hero-button">B</span>
      </button>
      <ul class="soc-networks">
        <li>
          <a
            class="soc-networks-items instagram-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG</a
          >
        </li>
        <li>
          <a
            class="soc-networks-items facebook-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li>
          <a
            class="soc-networks-items youtube-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT</a
          >
        </li>
        <li>
          <a
            class="soc-networks-items git-hub"
            href="https://github.com/AWoLf98/sweet-peppers-part-2"
            target="_blank"
            >GH</a
          >
        </li>
        <li>
          <a
            class="soc-networks-items email-link"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
