<div class="overlay is-open-modal" id="modal" data-menu-modal>
  <div class="modal-container">
    <div class="modal-icon-container">
      <button class="button-reset" id="close-menu" type="button" aria-label="close window" data-menu-close-modal>
        <svg class="header-btn-icon" width="36" height="36">
          <use href="./img/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
      <ul class="header-modal-menu-list" data-menu-close-list>
        <li class="header-modal-menu-item header-text">
          <a href="#about-me">About me</a>
        </li>
        <li class="header-modal-menu-item header-text">
          <a href="#benefits">Benefits</a>
        </li>
        <li class="header-modal-menu-item header-text">
          <a href="#projects">Projects</a>
        </li>
        <li class="header-modal-menu-item header-text">
          <a href="#faq">FAQ</a>
        </li>
      </ul>
      <a class="header-order-btn" href="#footer" data-menu-close-order>Order the project</a>
  </div>
</div>
