<section class="projects-section">
  <div class="container">
    <h2 class="projects-section-title">Projects</h2>

    <ul class="projects-list">
      <li class="projects-list-item">
        <div class="project-information-wrapper">
          <ul class="project-tehnologies-list">
            <li class="project-tehnologies-item">#react</li>
            <li class="project-tehnologies-item">#js</li>
            <li class="project-tehnologies-item">#node js</li>
            <li class="project-tehnologies-item">#git</li>
          </ul>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="project-link-btn">See project</button>
        </div>

        <div class="project-image-wrapper">
          <picture>
            <source
              srcset="./img/tablet/prj-1.webp 1x, ./img/tablet/prj-1@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/prj-1.webp 1x, ./img/prj-1@2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="project-image"
              src="./img/tablet/prj-1.webp"
              alt="Project preview"
              width="614"
              height="385"
              loading="lazy"
            />
          </picture>
        </div>
      </li>

      <li class="projects-list-item">
        <div class="project-information-wrapper">
          <ul class="project-tehnologies-list">
            <li class="project-tehnologies-item">#react</li>
            <li class="project-tehnologies-item">#js</li>
            <li class="project-tehnologies-item">#node js</li>
            <li class="project-tehnologies-item">#git</li>
          </ul>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="project-link-btn">See project</button>
        </div>

        <div class="project-image-wrapper">
          <picture>
            <source
              srcset="./img/tablet/prj-2.webp 1x, ./img/tablet/prj-2@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/prj-2.webp 1x, ./img/prj-2@2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="project-image"
              src="./img/prj-2.webp"
              alt="Project preview"
              width="614"
              height="385"
              loading="lazy"
            />
          </picture>
        </div>
      </li>

      <li class="projects-list-item">
        <div class="project-information-wrapper">
          <ul class="project-tehnologies-list">
            <li class="project-tehnologies-item">#react</li>
            <li class="project-tehnologies-item">#js</li>
            <li class="project-tehnologies-item">#node js</li>
            <li class="project-tehnologies-item">#git</li>
          </ul>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="project-link-btn">See project</button>
        </div>

        <div class="project-image-wrapper">
          <picture>
            <source
              srcset="./img/tablet/prj-3.webp 1x, ./img/tablet/prj-3@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/prj-3.webp 1x, ./img/prj-3@2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="project-image"
              src="./img/prj-3.webp"
              alt="Project preview"
              width="614"
              height="385"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="projects-swipe-btns-wrapper">
      <button class="prev-project-btn">
        <svg class="prev-icon-btn" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="next-project-btn">
        <svg class="next-icon-btn" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
