<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects-section-title">Projects</h2>

    <div class="projects-swiper swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-list-item swiper-slide">
          <div class="project-information-wrapper">
            <ul class="project-tehnologies-list">
              <li class="project-tehnologies-item">#html5</li>
              <li class="project-tehnologies-item">#css</li>
              <li class="project-tehnologies-item">#js</li>
              <li class="project-tehnologies-item">#node.js</li>
              <li class="project-tehnologies-item">#vite</li>
              <li class="project-tehnologies-item">#git</li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              class="project-link-btn"
              target="_blank"
              href="https://github.com/pro100-makari4/simply-chocolate"
              tabindex="-1"
              >See project</a
            >
          </div>

          <div class="project-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/tablet/prj-1.webp    1x,
                  ./img/tablet/prj-1@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source srcset="./img/prj-1.webp 1x, ./img/prj-1@2x.webp 2x" />
              <img
                class="project-image"
                src="./img/tablet/prj-1.webp"
                alt="Project preview"
                width="614"
                height="385"
                loading="lazy"
              />
            </picture>
          </div>
        </li>

        <li class="projects-list-item swiper-slide">
          <div class="project-information-wrapper">
            <ul class="project-tehnologies-list">
              <li class="project-tehnologies-item">#html5</li>
              <li class="project-tehnologies-item">#css</li>
              <li class="project-tehnologies-item">#js</li>
              <li class="project-tehnologies-item">#node.js</li>
              <li class="project-tehnologies-item">#vite</li>
              <li class="project-tehnologies-item">#git</li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              class="project-link-btn"
              target="_blank"
              href="https://github.com/AWoLf98/sweet-peppers"
              tabindex="-1"
              >See project</a
            >
          </div>

          <div class="project-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/tablet/prj-2.webp    1x,
                  ./img/tablet/prj-2@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source srcset="./img/prj-2.webp 1x, ./img/prj-2@2x.webp 2x" />
              <img
                class="project-image"
                src="./img/prj-2.webp"
                alt="Project preview"
                width="614"
                height="385"
                loading="lazy"
              />
            </picture>
          </div>
        </li>

        <li class="projects-list-item swiper-slide">
          <div class="project-information-wrapper">
            <ul class="project-tehnologies-list">
              <li class="project-tehnologies-item">#html5</li>
              <li class="project-tehnologies-item">#css</li>
              <li class="project-tehnologies-item">#js</li>
              <li class="project-tehnologies-item">#node.js</li>
              <li class="project-tehnologies-item">#vite</li>
              <li class="project-tehnologies-item">#git</li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              class="project-link-btn"
              target="_blank"
              href="https://github.com/pro100-makari4/goit-markup-hw-06"
              tabindex="-1"
              >See project</a
            >
          </div>

          <div class="project-image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/tablet/prj-3.webp    1x,
                  ./img/tablet/prj-3@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source srcset="./img/prj-3.webp 1x, ./img/prj-3@2x.webp 2x" />
              <img
                class="project-image"
                src="./img/prj-3.webp"
                alt="Project preview"
                width="614"
                height="385"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-swipe-btns-wrapper">
        <button class="prev-project-btn swiper-button-prev" aria-label="previous project">
          <svg class="prev-icon-btn" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>

        <button class="next-project-btn swiper-button-next" aria-label="next project">
          <svg class="next-icon-btn" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
