<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-section-title">Reviews</h2>
    <div class="reviews-wrapper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="reviews-swipe-btns-wrapper">
        <button class="prev-review-btn swiper-button-prev">
          <svg class="prev-icon-btn" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button class="next-review-btn swiper-button-next">
          <svg class="next-icon-btn" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<script type="module" src="./js/reviews.js"></script>

<picture>
  <source srcset="${avatar_url}" type="image/jpeg" />
  <img
    class="review-photo"
    src="${avatar_url}"
    alt="${author} photo"
    width="48"
    height="48"
    loading="lazy"
  />
</picture>
