@import 'swiper/css';
@import 'accordion-js/dist/accordion.min.css';

@media screen and (min-width: 375px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    min-width: 0;
    width: 343px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .about-me-container {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-container {
    width: 1376px;
  }
}

.about-me-first-section-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* @media screen and (min-width: 768px) {
  .about-me-first-section-container {
  }
} */
@media screen and (min-width: 1440px) {
  .about-me-first-section-container {
    flex-direction: row;
  }
}

.about-first-section-text-container {
  display: block;
  border-radius: 24px;
  background-color: var(--cards-black);
  width: 343px;
  height: 500px;
  padding: 32px 30px;
}
@media screen and (min-width: 768px) {
  .about-first-section-text-container {
    width: 704px;
    height: 700px;
    padding: 64px 64px;
  }
}
@media screen and (min-width: 1440px) {
  .about-first-section-text-container {
    width: 680px;
  }
}

.about-first-section-text {
  font-family: 'InterTight-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: left;
  text-transform: uppercase;
  width: 283px;
  height: 196px;
}
@media screen and (min-width: 768px) {
  .about-first-section-text {
    font-size: 38px;
    width: 576px;
    height: 200px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .about-first-section-text {
    width: 552px;
  }
}

.about-first-section-text-sekond-color {
  color: rgb(237, 59, 68);
}
.about-first-section-text-third-color {
  color: rgba(250, 250, 250, 0.4);
}

.about-first-section-image {
  width: 343px;
  height: 500px;
}
@media screen and (min-width: 768px) {
  .about-first-section-image {
    width: 704px;
    height: 700px;
  }
}
@media screen and (min-width: 1440px) {
  .about-first-section-image {
    width: 680px;
    height: 700px;
  }
}

/* Друга частина about me (акардеон) */


.about-accordion-section{
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .about-accordion-section{
    padding-top: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .about-accordion-section{
    padding-top: 96px;
  }
}

.about-accordion-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .about-accordion-container{
    gap: 32px;
  }
}



.accordion-container .ac .ac-trigger::after{
  content: "";
}

.accordion-container .ac.is-active>.ac-header .ac-trigger::after {
  content: "";
}
.about-accordion-section .accordion-container .accardeon-item{
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 0 0 32px 0;

}

.ac-panel .ac-text.ab-me-accordion-text{
  padding: 12px 0 0 0;
  /* padding-top: 12px; */
}

.accordion-container .ac .ac-trigger{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between
} 


.about-div-icon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1C1D20;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.about-button-icon {
  stroke: #eee;
  fill: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
}
@media screen and (min-width: 768px) {
  .about-button-icon {
    width: 40px;
    height: 40px;
  }
}

.about-button-icon {
  transition: transform 600ms linear;
}
.about-button-icon-rotate {
  transform: rotate(180deg);
}
.about-button-icon-rotate-off {
  transform: rotate(0deg);
}

.accardeon-heading {
  font-family: 'InterTight-Medium', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 0;
}

 .about-accordion-container .ac {
  margin-top: 0; 
  border: 0px solid #eee;
  background-color: #1c1d20;
  box-sizing: border-box;
}

.accardeon-gap{
  display: flex;
  flex-direction: column;
  gap: 32px
}
@media screen and (min-width: 768px) {
  .accardeon-gap{
    gap: 16px
  }
}
@media screen and (min-width: 1440px) {
  .accardeon-gap{
    gap: 32px
  }
}
.accardeon-gap-second{
  display: flex;
  flex-direction: column;
  gap: 10px
}
.accardeon-gap-third{
  display: flex;
  flex-direction: column;
  gap: 10px
}

@media screen and (min-width: 1440px) {
  .about-ac-text-first{
    width: 612px;
  }
}

@media screen and (min-width: 1440px) {
  .about-ac-text-third{
    width: 435px;
  }
}


.ac .ac-panel .ac-text {
  font-family: 'InterTight-Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-white);
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .ac .ac-panel .ac-text {
    margin-left: 696px;
  }
}

.about-accordion-container .accardeon-item .ac-panel{
  padding-top: 11px;
}
@media screen and (min-width: 768px) {
  .about-accordion-container .accardeon-item .ac-panel{
    padding-top: 7px;
  }
}


.about-button-icon-cover{

}
/* третя частина about-me slider */







.about-me-swiper-container{
  display: flex;
  flex-direction: row;
  gap: 55px;
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .about-me-swiper-container {
    gap: 64px;
    width: 704px;
    padding-top: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .about-me-swiper-container {
    gap: 72px;
    width: 1312px;
    padding-top: 96px;
  }
}

.about-me-slider {
  
  display: flex;
  gap: 55px;
  width: 260px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about-me-slider {
    gap: 64px;
    width: 600px;
    
    gap: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .about-me-slider {
    gap: 72px;
    width: 1200px;
    
    gap: 72px;
  }
}



.about-me-slider-container {
  display: flexbox;
  width: 260px;
  /* overflow: hidden; */
}
@media screen and (min-width: 768px) {
  .about-me-slider-container {
    width: 400xpx;
  }
}
@media screen and (min-width: 1440px) {
  .about-me-slider-container {
    width: 1200px;
  }
}

.about-me-slider-item,
.swiper-slide {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'InterTight-Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
  border: 1px solid rgba(250, 250, 250, 0.2);
  /* background-color: var(--main-red); */
}
@media screen and (min-width: 768px) {
  .about-me-slider-item,
  .swiper-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}


.next-about-me-btn{
  background-color: transparent;
    border: none; 
    padding: 0;
}

.about-me-next-icon-btn{
  width: 28px;
  fill: transparent;
  stroke: #fafafa;
  stroke-width: 2px;
  transition: stroke 250ms linear;
}
@media screen and (min-width: 768px) {
  .about-me-next-icon-btn{
    width: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .about-me-next-icon-btn{
    width: 40px;
  }
}



