.benefits {
  padding: 32px 0;
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.benefits-item-container {
  border-radius: 20px;
  padding: 24px;
  background-color: var(--cards-black);
}

.benefits-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--main-red);
}

.benefits-icons {
  fill: transparent;
  stroke: var(--main-white);
}

.benefits-description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.benefits-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.benefits-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-btn {
  display: inline-block;
  min-width: 187px;
  height: 55px;
  padding: 17px 35px;
  font-size: 16px;
  letter-spacing: -0.02em;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: border-color var(--main-dur-func-transition);
}

.benefits-btn:hover {
  border-color: var(--main-white);
}

@media screen and (min-width: 768px) {
  .benefits {
    padding: 48px 0;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .benefits-item-container {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .benefits {
    padding: 82px 0;
  }

  .benefits-container {
    display: flex;
    justify-content: space-between;
  }

  .benefits-additional-container {
    width: calc((100% - 16px) / 2);
  }
}
