.faq {
  padding: 32px 0;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-list .faq-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin-top: 0;
  background-color: transparent;
  border-top: solid 1px rgba(250, 250, 250, 0.2);
}

.faq-item:last-child {
  border-bottom: solid 1px rgba(250, 250, 250, 0.2);
}

.faq-list .faq-item .faq-item-title {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-white);
}

.faq-item-title-text {
  width: 265px;
}

.faq-btn {
  flex-shrink: 0;
  padding: 6px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: transform var(--main-dur-func-transition);
}

.faq-list .faq-item .faq-item-title::after {
  content: none;
}

.faq-btn-icon {
  fill: transparent;
  stroke: var(--main-white);
}

.faq-list .faq-item .faq-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  padding-top: 16px;
  color: rgba(250, 250, 250, 0.6);
}

.is-active .faq-btn {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .faq {
    padding: 48px 0;
    height: 763px;
  }

  .faq-list .faq-item {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .faq-item-title-text {
    width: 574px;
  }

  .faq-btn {
    padding: 9px;
    width: 40px;
    height: 40px;
  }

  .faq-item-text {
    max-width: 656px;
  }

  .faq-list .faq-item:last-child .faq-item-text {
    padding-top: 8px;
  }

  .faq-list .faq-item:last-child .faq-item-title {
    margin-bottom: 8px;
  }

  .faq-list .faq-item:last-child .faq-item-title-text {
    width: 470px;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    padding: 82px 0;
    height: 544px;
  }

  .faq-list .faq-item {
    padding-bottom: 26px;
  }

  .faq-list .faq-item:last-child .faq-item-text {
    padding-top: 20px;
  }

  .faq-list .faq-item:last-child .faq-item-title {
    margin-bottom: 6px;
  }

  .faq-list .faq-item:nth-child(3) {
    padding-bottom: 52px;
  }

  .faq-list {
    display: block;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 0;
  }

  .faq-item {
    break-inside: avoid;
  }

  .faq-item:nth-child(-n + 3) {
    padding-right: 32px;
    border-right: solid 1px rgba(250, 250, 250, 0.2);
  }

  .faq-item:nth-child(3) {
    border-bottom: solid 1px rgba(250, 250, 250, 0.2);
  }

  .faq-item:nth-child(n + 4) {
    padding-left: 32px;
    margin-left: -1px;
    border-left: solid 1px rgba(250, 250, 250, 0.2);
  }
}
