/* 
.accordion-container .ac .ac-trigger.trigger-js {
  padding: 20px 73px 16px 0px;
} */

/* @media screen and (min-width: 768px) {
    .accord-marg {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .accord-marg {
      max-width: 1158px;
  
      padding-left: 15px;
  
      padding-right: 15px;
    }
  }
   */

.faq-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.accord-header {
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  text-align: left;
}
.faq-section .accord-marg .accordion-container .ac {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  background-color: #1c1d20;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.faq-section .accord-marg .accordion-container .ac:first-child {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
.accordion-container .ac .ac-header .ac-trigger {
  position: relative;
  padding: 0;
  /* padding: 20px 73px 20px 0px;
    color: #fafafa;
    width: 265px; */
}

.accordion-container .ac .ac-panel .ac-text {
  padding: 0;

  color: rgba(250, 250, 250, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: -2%;

  /* position: relative;
              padding-bottom: 20px;
        font-family: 'Inter Tight', sans-serif;
               letter-spacing: -0.02em; */
}

.ac .ac-trigger .btn-title-1 {
  width: 270px;
  color: rgb(250, 250, 250);
  /* font-family: 'Inter Tight', sans-serif; */
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -2%;
  text-align: left;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.accord-marg .accordion-container .ac {
  border: none;
  /* border-top: 1px solid #eee; */
}
.accordion-container .ac.is-active .ac-panel {
  margin-top: 16px;
}
/* ////////////////////////svg////////////////////// */

.accordion-container .ac .ac-trigger::after {
  content: '';
}

.accordion-container .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}

.div-icon {
  position: absolute;
  right: 16px;
  top: 0;
  background-color: #1c1d20;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
}
.button-icon {
  stroke: #eee;
}
