.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(46, 47, 66, 0.4);
  transform: translateX(100%);
  transition: transform var(--main-dur-func-transition);
}

.overlay.is-open {
  transform: translateX(0);
}

.modal-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  background-image: url('../img/modal-back.webp');
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 300px;
  padding-bottom: 64px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .modal-container {
    background-image: url('../img/modal-back@2x.webp');
  }
}

.header-modal-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: auto;
}

.header-modal-menu-item {
  display: block;
  white-space: nowrap;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  margin-bottom: 12px;
}

.header-modal-menu-button {
  position: absolute;
  bottom: 64px;
  padding: 18px 24px;
  border-radius: 60px;
  cursor: pointer;
  border: transparent;
  background: var(--main-red);
}

.modal-icon-container {
  position: absolute;
  top: 32px;
  right: 16px;
}