@import 'swiper/css';

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #88888811;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

.reviews {
  padding-top: 32px;
  padding-bottom: 64px;
}

.reviews-section-title {
  font-size: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
}

.reviews-list {
  margin-bottom: 32px;
}

.reviews-list-item {
  border-radius: 20px;
  padding: 32px 24px;
<<<<<<< HEAD
  height: 355px;
  overflow: hidden;
=======
  border: 1px solid rgba(250, 250, 250, 0.2);
>>>>>>> 9de18caa3aa34585f0778c6011b974ebc4bc04c5
}

.review-photo {
  margin-bottom: 32px;
  border-radius: 10px;
}

.review-author {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-white);
}

.review-text-container {
  overflow-y: scroll;
  height: 120px;
}

.review-text {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  text-overflow: ellipsis;
}

.reviews-swipe-btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.prev-review-btn,
.next-review-btn {
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background: transparent;
  outline: transparent;
  border: 1px solid #fafafa80;
  transition: border var(--main-dur-func-transition);
}

.prev-icon-btn,
.next-icon-btn {
  stroke-width: 2px;
  fill: transparent;
  stroke: #fafafa;
  transition: stroke var(--main-dur-func-transition);
}

.prev-review-btn:hover,
.next-review-btn:hover,
.prev-review-btn:focus,
.next-review-btn:focus {
  border-color: #fafafa;
  cursor: pointer;
}

.prev-review-btn:hover .prev-icon-btn,
.next-review-btn:hover .next-icon-btn {
  stroke: #fff;
}

.prev-review-btn:disabled,
.next-review-btn:disabled {
  cursor: default;
  border-color: #fafafa33;
}

.prev-review-btn:disabled:hover,
.next-review-btn:disabled:hover {
  border-color: #fafafa33;
}

.prev-review-btn:disabled .prev-icon-btn,
.next-review-btn:disabled .next-icon-btn {
  stroke: #fafafa33;
}

.prev-review-btn:disabled:hover .prev-icon-btn,
.next-review-btn:disabled:hover .next-icon-btn {
  stroke: #fafafa33;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .reviews-swipe-btns-wrapper {
    gap: 20px;
  }

  .prev-review-btn,
  .next-review-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .prev-icon-btn,
  .next-icon-btn {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
    padding-top: 82px;
    padding-bottom: 125px;
  }
}

<<<<<<< HEAD
/* POPUP SERVER ERROR */

=======
>>>>>>> 9de18caa3aa34585f0778c6011b974ebc4bc04c5
.popup-server-error {
  position: fixed;
  top: 20px;
  right: clamp(20px, 5%, 10%);
<<<<<<< HEAD
  background-color: var(--main-red);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
=======
  padding: 10px 20px;
  border-radius: 5px;
>>>>>>> 9de18caa3aa34585f0778c6011b974ebc4bc04c5
  z-index: 9999;
  opacity: 0;
  color: #fff;
  background-color: var(--main-red);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity var(--main-dur-func-transition);
}

.popup-server-error.activate-popup-animation {
  opacity: 1;
}
