@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./header.css');
 
 	

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 16px;
  min-width: 320px;
  max-width: 375px;
}

@media screen and (min-width: 375px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
    min-width: none;
    max-width: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
